<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509342371017-ci8q6qa8p3h9qmeimm29256bblqupqi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509342371017-ci8q6qa8p3h9qmeimm29256bblqupqi1</string>
	<key>API_KEY</key>
	<string>AIzaSyCyRIly9LwoQBu4cPTRb-x-_HwO3Fs56F4</string>
	<key>GCM_SENDER_ID</key>
	<string>509342371017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.animatedloginpage.animatedLoginPage</string>
	<key>PROJECT_ID</key>
	<string>auth-42022</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-42022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509342371017:ios:be3633a20607cf83151118</string>
</dict>
</plist>